<div class="container-fluid text-light" style="height: 200px">
	<div class="row py-sm-4 mt-4 m-sm-4">
		<div class="col-12 mt-0 mt-sm-4 text-warning fw-bold fs-1 text-center">
			Connect with Local Services
		</div>
		<div class="col-12 my-4 my-sm-4">
			<p id="desc" class="text-center animated-text">
				WeConnect is a platform that connects local businesses
			</p>
		</div>
	</div>
	<script>
		let p = document.getElementById("desc");
		const array = [
			"WeConnect is a platform that connects local businesses",
			"Such as Carpenters, Plumbers, and other service providers, with people in their area seeking their services",
			"Whether you need a skilled professional for 				home repairs, maintenance, or any other local service",
			"WeConnect is here to bridge the gap and make the process seamless",
		];
		let index = 1;
		setInterval(() => {
			const newP = document.createElement("p");
			newP.innerText = array[index];
			newP.classList.add("animated-text");
			newP.classList.add("text-center");
			newP.classList.add("animated-text");
			newP.id = p.id;
			p.parentNode.replaceChild(newP, p);
			p = newP;
			index = (index + 1) % array.length;
		}, 3500);
	</script>
</div>
