<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>WeConnect</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/mystyles.css" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
        <link rel="manifest" href="/site.webmanifest" />
    </head>
    <body class="bg-light vh-100 border">
        <%- include('../components/navbar.ejs'); %>
        <!-- description Description.html -->

        <%- include('../components/description.ejs'); %>
        <!-- Two Box -->

        <div class="container my-2 loadthis">
            <div class="row">
                <!-- Left Box (Provider) -->
                <div class="col-md-6">
                    <div class="card boxtypeone rounded-0">
                        <div class="card-body">
                            <h4 class="card-title">Provider</h4>
                            <p class="card-text">
                                Provider - A person who can provide service. Provider completes the work and takes some
                                money in return. Just create a profile and done. Finders will find you and will contact
                                you directly
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Right Box (Finder) -->
                <div class="col-md-6 mt-3 mt-sm-0">
                    <div class="card boxtypetwo rounded-0">
                        <div class="card-body">
                            <h4 class="card-title">Finder</h4>
                            <p class="card-text">
                                Finder - A person who is looking for a job to get done. Just create a account and you
                                will get a search page from which you can search for service providers in the area.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/js/bootstrap.min.js"></script>
        <script>
            document.getElementById("home").classList.add("active");
        </script>
        <script>
            window.addEventListener("load", function () {
                let list = document.querySelectorAll(".loadthis");
                for (let i = 0; i < list.length; i++) {
                    list[i].classList.add("loaded");
                }
            });
        </script>
    </body>
</html>
