<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Signup Successful</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/mystyles.css" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
        <link rel="manifest" href="/site.webmanifest" />
        <script>
            window.addEventListener("load", function () {
                document.body.classList.add("loaded");
            });
        </script>
    </head>
    <body class="">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card text-center rounded-0 boxtypeone">
                        <div class="card-body">
                            <h5 class="card-title">Signup Successful</h5>
                            <p class="card-text">Please login to continue.</p>
                            <a href="/login" class="btn fw-semibold boxtypezero">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>
