:root {
	--one: #db6e3b;
	--two: #81d69c;
	--three: #5b38a6;
	--four: #290773;
	--five: rgb(241, 241, 241);
}

@keyframes typing {
	0%,
	100% {
		width: 0;
		color: var(--one);
	}
	50% {
		width: 100%;
		color: var(--three);
	}
}

.typing-text {
	overflow: hidden;
	white-space: nowrap;
	animation: typing 8s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
}

.boxtypeone {
	background-color: var(--three);
	color: var(--five);
	box-shadow: 10px 15px 10px -5px rgba(0, 0, 0, 0.5);
	transition: all 0.5s ease;
	border: 1px solid white;
}

.boxtypetwo:hover {
	transform: translate(-5px, -5px);
}

.boxtypeone:hover {
	transform: translate(-5px, -5px);
}

.boxtypetwo {
	background-color: var(--one);
	color: var(--five);
	box-shadow: 10px 15px 10px -5px rgba(0, 0, 0, 0.5);
	transition: all 0.5s ease;
	border: 1px solid white;
}

.meranav {
	box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.5);
}

.bg-light {
	background-color: var(--five);
}

.heading {
	transition: all 0.5s ease;
}

.heading:hover {
	color: var(--one);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.text-one {
	color: var(--three);
}

.navbar-nav .nav-link.active {
	color: var(--one) !important;
}

.some:hover {
	color: rgb(255, 213, 0);
}

.green {
	color: rgb(0, 255, 0);
}

.footer {
	bottom: 0px;
	right: 0px;
	left: 0px;
}

.animated-text {
	animation: faidIn 1.5s ease 0s 1;
}

@keyframes faidIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Search page */

.resultbox::-webkit-scrollbar {
	width: 12px; /* Width of the scrollbar */
}

.resultbox::-webkit-scrollbar-thumb {
	background-color: transparent; /* Color of the thumb */
}

.resultbox::-webkit-scrollbar-track {
	background-color: transparent; /* Color of the track */
}

.clickable {
	cursor: pointer;
}
