<div class="container d-flex justify-content-end">
    <form class="" action="/auth/logout" method="post">
        <button class="mt-3 btn fw-semibold btn-danger rounded-0" type="submit">LogOut</button>
    </form>
</div>
