<div class="container mt-3 loadthis">
    <div class="row fs-4">
        <div class="container-fluid">
            <input class="noborder form-control rounded-0 meranav fw-bold" placeholder="Search" id="serviceName" />
        </div>
        <div class="col-md-4 my-2">
            <select
                class="noborder form-select fw-bold rounded-0 meranav"
                aria-label="Default select example"
                id="stateInput"
            >
                <option value="none" selected>Open this select menu</option>
            </select>
        </div>
        <div class="col-md-4 my-2">
            <select
                class="noborder form-select fw-bold rounded-0 meranav"
                aria-label="Default select example"
                id="cityInput"
            >
                <option value="none" selected>Open this select menu</option>
            </select>
        </div>
        <div class="col-md-4 my-2">
            <select
                class="noborder form-select fw-bold rounded-0 meranav"
                aria-label="Default select example"
                id="areaInput"
            >
                <option value="none" selected>Open this select menu</option>
            </select>
        </div>
    </div>
</div>

<hr />
