<div
    class="position-absolute top-0 start-0 d-none end-100 transperent rounded-0 m-0 loadthis"
    style="width: 100%; z-index: 1; height: 100vh"
    id="mainviewbox"
>
    <div class="container mt-5 rounded-0">
        <div class="row">
            <div class="col-lg-7 col-11 mx-auto">
                <div class="card position-relative rounded-0">
                    <button
                        class="btn fw-semibold boxtypezero1 position-absolute top-0 end-0 rounded-0"
                        style="z-index: 1"
                        id="modal_close"
                    >
                        X
                    </button>
                    <div class="card-body rounded-0" id="viewbox"></div>
                </div>
            </div>
        </div>
    </div>
</div>
